# Ignorar arquivos e diretórios de configuração do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de log
*.log
*.json
output/
execs_antigos/

# Ignorar diretórios de ambientes virtuais (Python)
venv/
env/

# Ignorar diretórios de compilação
build/
dist/

# Ignorar diretórios de dependências
node_modules/
.npm/

# Ignorar arquivos de cache do VS Code
.vscode/

# Ignorar arquivos de configuração do VS Code
.history
.idea/
.coverage*

# Ignorar arquivos compilados Python
*.pyc
src/dataset_report.html
